<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346267943625-kj3mt483ij16pbff8q8k3k1jvfvs92m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346267943625-kj3mt483ij16pbff8q8k3k1jvfvs92m5</string>
	<key>API_KEY</key>
	<string>AIzaSyCfBVdD7NkS2t3zpf_6gZHc63Em0EpO09c</string>
	<key>GCM_SENDER_ID</key>
	<string>346267943625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmp5987.CustomLogin</string>
	<key>PROJECT_ID</key>
	<string>loginswift-65993</string>
	<key>STORAGE_BUCKET</key>
	<string>loginswift-65993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346267943625:ios:d1acae573fb1edd2fd4318</string>
	<key>DATABASE_URL</key>
	<string>https://loginswift-65993.firebaseio.com</string>
</dict>
</plist>